/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
}

/* Entry Screen */
.entry-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.entry-container {
  background: white;
  /* border-radius: 20px; */
  /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  padding: 40px;
  max-width: 900px; */
  width: 100%;
  text-align: center;
}

.app-logo {
  margin-bottom: 40px;
}

.logo-icon {
  font-size: 80px;
  margin-bottom: 20px;
}

.entry-container h1 {
  font-size: 42px;
  color: #333;
  margin-bottom: 10px;
}

.tagline {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.feature {
  background: #f8f9fa;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 48px;
  display: block;
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 18px;
  color: #333;
  padding: 0px 10px 10px 10px;
}

.feature p {
  font-size: 14px;
  color: #666;
}

.start-button {
  background: #e4002b;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 60px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 18px rgba(255, 45, 85, .35);
}

.start-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 40px rgba(255, 45, 85, 0.6);
}

.start-button:active {
  transform: translateY(0);
}

.workout-card-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  /* margin-bottom: 15px; */
}

.requirements {
  margin-top: 30px;
  padding: 15px;
  background: #fff3cd;
  border-radius: 10px;
  color: #856404;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .entry-container {
    /* padding: 30px 20px; */
    padding: 0px 0px;
  }

  .entry-container h1 {
    font-size: 32px;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .start-button {
    font-size: 20px;
    padding: 15px 40px;
  }
}